<%= form_with(model: constellation, local: true) do |form| %>
  <% if constellation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constellation.errors.count, "error") %> prohibited this constellation from being saved:</h2>

      <ul>
      <% constellation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
