<script type="text/javascript" src="/assets/se2/js/HuskyEZCreator.js" charset="utf-8"></script>
<%= form_with(model: content, local: true) do |form| %>
	<% if content.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

			<ul>
				<% content.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= form.text_area :text, id: "smarteditor", rows: "10", cols: "100" %>
	</div>

	<div class="actions">
		<button class="submit" type="button" id="submit_btn">수정하기</button>
	</div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	var oEditors = [];

	setTimeout(function() {
		window.nhn.husky.EZCreator.createInIFrame({
			oAppRef: oEditors,
			elPlaceHolder: "smarteditor",
			sSkinURI: "/assets/se2/SmartEditor2Skin.html",
			fCreator: "createSEditor2"
		});
	}, 300);

	$("#submit_btn").click(function(e) {
		oEditors.getById["smarteditor"].exec("UPDATE_CONTENTS_FIELD", []);
		$(this).parents("form").submit();
	});
});
</script>
