<style>
body {
	background-color: #FFF;
}
</style>
<h1>문서 목록</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	  <% @documents.each do |document| %>
		  <a href="/documents/<%= document.id %>">
      <tr>
        <td><%= document.title %></td>
        <td><%= raw document.reference %></td>
	  </tr>
		</a>
    <% end %>
  </tbody>
</table>

<br>
